nav {
  margin-bottom: 2em;
}
.brand-logo {
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-size: 4em !important;
}

header {
  width: 100%;
}

a {
  color: black !important;
  font-weight:400 !important;
}

.brand-logo:hover{
  background:white !important;
}


@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 992px) {
.brand-logo {
  font-size: 2em !important;
  /* display:inline-block !important; */
}

 .sidenav, .nav-wrapper{
  overflow: none;

} 

.sidenav {
  float:none !important;
  background-color: lightgrey;
}


.sidenav li>a.btn {
  background-color: lightgrey !important;
}

}