.App {
  text-align: center;
  min-width: 100vw;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(255, 253, 253);
  background-image: url("./assets/svg2.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  flex: 1 0 auto;
  min-width: 80vw;
  min-height: 50vh;
}

.transparentBG {
  background-color: rgba(0,0,0,0) !important;
}

.no-shadows {
  box-shadow: none !important;
}

.card {
  background: rgba( 233, 233, 233, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18.0px );
  -webkit-backdrop-filter: blur( 18.0px );
  border-radius: 10px;
  outline: 2px solid white;
}

.form-control {
  color: black;
}

::placeholder {
  color: black;
}

.input-field>label {
  color: black;
}

textarea{
  height: 10vh;
}

.trip-name {
  font-weight: bolder;
}

h1 {
  font-size: 3.5rem !important;
  font-family: 'Maven Pro', sans-serif;
}

.collapsible-header, .collection-item {
  background: rgba( 233, 233, 233, 0.20 ) !important;
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 10.0px ) ;
  -webkit-backdrop-filter: blur( 10.0px );
  border: 2px solid white;
}

h3, h2, h4 {
  font-family: 'Maven Pro', sans-serif;
}