.App {
  text-align: center;
  min-width: 100vw;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(255, 253, 253);
  background-image: url("./assets/svg2.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  flex: 1 0 auto;
  min-width: 80vw;
  min-height: 85vh;
}

.transparentBG, a.btn {
  background-color: rgba(0,0,0,0) !important;
}

.no-shadows {
  box-shadow: none !important;
}

.card {
  background: rgba( 233, 233, 233, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18.0px );
  -webkit-backdrop-filter: blur( 18.0px );
  border-radius: 10px;
  outline: 2px solid white;
}

.form-control {
  color: black;
}

::placeholder {
  color: black;
}

.input-field>label {
  color: black;
}

textarea{
  height: 10vh;
}

.trip-name {
  font-weight: bolder;
}

h1 {
  font-size: 3.5rem !important;
  font-family: 'Maven Pro', sans-serif;
}

.collapsible-header, .collection-item {
  background: rgba( 233, 233, 233, 0.20 ) !important;
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 10.0px ) ;
  -webkit-backdrop-filter: blur( 10.0px );
  border: 2px solid white;
}

h3, h2, h4 {
  font-family: 'Maven Pro', sans-serif;
}


.btn, .btn-large, .datepicker-date-display, .timepicker-digital-display {
  background-color: #4bc7c8 !important;
}

.timepicker-canvas line {
  stroke:#4bc7c8 !important;
}

circle.timepicker-canvas-bg {
  fill: #4bc7c8 !important;
}

.delete-confirm {
  background-color: red !important;
}

.roundedbtn {
  background-color: black !important;
  border-radius:16px; 
  margin-bottom: 1em;
  height: 50px;
  line-height: 50px;
  width: auto;
  font-size:15px !important;
  text-transform: none !important;
}

.link-btn{
  text-transform: none !important;
  height: 35px;
  line-height: 35px;
}

.edit-btn {
  cursor: pointer;
}

.bigger-text {
  font-size:15px !important;
}

.go-to {
  font-size:8px !important;
  height: 30px;
  line-height: 30px;
}

.modal-close {
  font-size:10px !important;
  height: 25px;
  line-height: 25px;
}

@media screen 
  and (min-device-width: 600px){
.mobile-buttons, .mobile-welcome {
  display: none;
}
  }
@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 600px) {
.large-welcome {
  display: none;
}
.mobile-welcome {
  font-weight:800
}

.mobile-action{
  text-align: center;
}

.mobile-buttons{
  text-align: center;
}
.roundedbtn {
  background-color: black !important;
  border-radius:16px; 
  margin-bottom: 1em;
  height: 30px;
  line-height: 30px;
  width: auto;
  font-size:15px !important;
}

.go-to {
  font-size:15px !important;
  height: 35px;
  line-height: 35px;
}

.modal-close {
  font-size:15px !important;
  height: 35px;
  line-height: 35px;
  text-transform: none;
  width: 50%
}

.bigger-text {
  font-size:15px !important;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase !important;
}



}