.list-overflow-container {
  max-height: 545px;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

html {
  --scrollbarBG: #969696;
  --thumbBG: #3a3a3a;
}
::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 20px;
  border: 0px solid var(--scrollbarBG);
}