a {
    color: #00322B
}

.card {
  max-width: 80%;
  margin: 3% auto;
}

@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 992px) {
.card {
    max-width: 90%;
    margin: 3% auto;
}
  }