h1, h5 {
    margin: 0 !important;
}

.card-panel {
    margin-top: 0% !important;
}

.large-welcome {
  font-weight:800
}

@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 992px) {

}